venv/
*.pt
*.pth
*.pkl
*.pt.tar
*.pt.tar.gz
*.pt.tar.bz2
*.pt.tar.xz
*.pt.tar.lzma
*.pt.tar.lz
*.pt.tar.zst

pycache
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwz

test_output.json
test_videos/*
